<form id="auth_form">

    <h3>Sing In</h3>

    <lablel for="username_auth_text">Username:</lablel><br />
    <input type="text" id="username_auth_text" name="username_auth_text" size="50"
           placeholder="Username" />
    <br />
    <lablel for="password_auth_text">Password:</lablel><br />
    <input type="password" id="password_auth_text" name="password_auth_text" size="50"
           placeholder="Password" />
    <br />
    <input type="button" id="submit_auth_btn" value="Sing In" class="btn btn-success"
           onclick="" />
    <input type="button" id="cancel_register_btn" value="Cancel" class="btn btn-danger"
           onclick="hideAuthForm()" />

</form>