<!doctype html>
<html lang="en">
<head>
	<title>Fast Question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>val demo</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <input type="button" class="btn btn-primary" value="Get Start!" onclick="getAnswerForm()"
                       id="answer_on_question_get_btn"/>
                <label>Your language:</label>
                <select id="language_select">
                    <option>russian</option>
                    <option>english</option>
                </select><br />

                <div class="container" id="place_for_answer_and_question">
                </div>

            </div>
            <div class="col-md-6">
                <input type="button" class="btn btn-primary" value="Update" onclick="">
                <div id="my_messages_place">
                </div>
            </div>
        </div>
    </div>

</body>

<script src="logic.js"></script>
<script src="script.js"></script>


</html>