<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
    <body>
        <input type="button" id="sing_up_btn" class="btn btn-primary" value="Sing Up" onclick="getRegisterForm()" />
        <input type="button" id="sing_in_btn" class="btn btn-primary" value="Sing In" onclick="getAuthForm()" />
        <div class="container" id="place_for_registration_form">
        </div>
    </body>
    <script src="register.js"></script>
</html>